@inject IAlertService AlertService
@implements IDisposable

@foreach (var alert in _Alerts)
{
    <div class="alert alert-dismissible alert-@alert.GetClassName mt-4 container @GetFadeEffect(alert)" role="alert">
        <a class="close" @onclick="@(() => RemoveAlert(alert))">&times;</a>
        <strong>@GetTypeName(alert.Type)</strong>
        <span>
            @alert.Message
        </span>
    </div>
}


@code
{
    List<Alert> _Alerts = new List<Alert>();

    protected override void OnInitialized()
    {
        AlertService.OnAlert += OnAlertByService;
    }

    public async void OnAlertByService(AlertEventArgs e)
    {
        Alert alert = e.GetAlert;
        _Alerts.Add(alert);
        StateHasChanged();
        if (alert.AutoClose)
        {
            await Task.Delay(alert.CloseDelay);
            RemoveAlert(alert);
        }
    }

    private async void RemoveAlert (Alert alert)
    {
        int index = GetIndexFromList(alert);
        if (index != -1)
        {
            alert.FadeEffect = true;
            await Task.Delay(500);
            _Alerts.RemoveAt(index);
        }
        StateHasChanged();
    }

    private int GetIndexFromList(Alert alert)
    {
        return _Alerts.FindIndex(i => i.Id == alert.Id);
    }

    private string GetFadeEffect(Alert alert)
    {
        if (alert.FadeEffect)
            return "fade";
        return string.Empty;
    }

    private string GetTypeName(AlertType type)
    {
        switch (type)
        {
            case AlertType.None:
                return string.Empty;
            case AlertType.Success:
                return "Başarılı !";
            case AlertType.Danger:
                return "Dikkat !";
            case AlertType.Info:
                return "Bilgi !";
            case AlertType.Warning:
                return "Uyarı";
            default:
                return string.Empty;
        }
    }

    public void Dispose()
    {
        AlertService.OnAlert -= OnAlertByService;
    }
}