<nav class="profile-nav">
    <!-- Navbar da esquerda, contém os perfis do usuário e de seus contatos/conversas -->


    <UserStatuBox/>


    <div class="user-conversations">
        <!-- Área de conversas com contatos do usuário -->

        <div class="conversations-header">
            <p>
                Conversas
            </p>

        </div>

        <div class="conversations-main">

            <ul class="conversations-main-list">

                @foreach (User item in ChatUsers)
                {
                    if (LoginService.User.ConnectionId == item.ConnectionId) // Mine :)
                        continue;

                    <li class="contact-info" id="new-message">

                        <div class="contact-profile-pic-bckg">

                            <div class="contact-profile-pic"></div>
                        </div>
                        <div class="contact-text-area">
                            <p class="contact-name">
                                @item.FullName
                            </p>
                            <p class="contact-message">
                                buraya son mesaj gelecek...
                            </p>
                        </div>
                        <div class="conversation-notification-bckg">
                            <div class="conversation-notification">
                                1
                            </div>
                        </div>
                    </li>
                }
            </ul>

        </div>

    </div>
</nav>

@code {
    [Parameter]
    public List<User> ChatUsers { get; set; }

    [Inject]
    ILoginService LoginService { get; set; }
}
