@page "/Chat"
@implements IDisposable


<div class="background-wrapper" id="main">

    <OnlineUsers ChatUsers="this.OnlineUsers" />

    <ChatPanel />

</div>

@code{

    protected override async Task OnInitializedAsync()
    {
        await ChatService.GetOnlineUsers();
        ChatService.OnStatesChanged += UpdateState;
    }

    public void UpdateState()
    {
        InvokeAsync(StateHasChanged);
    }

    public void OnConnectedUser(UserEventArgs e)
    {
        UpdateState();
    }

    public void OnDisconnectedUser(UserEventArgs e)
    {
        UpdateState();
    }

    public List<User> OnlineUsers
    {
        get
        {
            return ChatService.OnlineUsers;
        }
    }

    [Inject]
    IChatService ChatService { get; set; }

    public void Dispose()
    {
        ChatService.OnStatesChanged -= UpdateState;
    }
}
