@page "/Chat"

<div class="background-wrapper" id="main">

    <OnlineUsers ChatUsers="this.OnlineUsers" />

    <ChatPanel />

</div>

@code{

    protected override async Task OnInitializedAsync()
    {
        if (!IsConnected)
        {
            NavigationManager.NavigateTo("/login", false);
        }
        else
        {
            await ChatService.GetOnlineUsers();
            ChatService.OnStatesChanged += UpdateState;
        }
    }

    public void UpdateState()
    {
        InvokeAsync(StateHasChanged);
    }

    public void OnConnectedUser(UserEventArgs e)
    {
        UpdateState();
    }

    public void OnDisconnectedUser(UserEventArgs e)
    {
        UpdateState();
    }

    public List<User> OnlineUsers
    {
        get
        {
            return ChatService.OnlineUsers;
        }
    }

    private bool IsConnected
    {
        get
        {
            if (LoginService.User == null)
                return false;
            else
                return LoginService.User.IsConnect;
        }
    }

    [Inject]
    IChatService ChatService { get; set; }

    [Inject]
    ILoginService LoginService { get; set; }

    [Inject]
    IAlertService AlertService { get; set; }

    [Inject]
    NavigationManager NavigationManager { get; set; }

}
